<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="about">
    <section class="section about" id="about">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">About Me</h2>
            </div>

            <div class="about-container">
                <div class="about-content">
                    <div class="about-tagline">My Background</div>
                    <h3 class="about-heading">From Chemical Engineer to IT Professional</h3>
                    <p class="about-text">Despite the differences between my previous career and the tech industry, I successfully transitioned into my first role in tech, where I was responsible for addressing technical issues faced by clients using a web-based application. This application is a Software as a Service (SaaS) platform that functions as a Laboratory Information System (LIS), managing medical records and transactions for various medical institutions across the Philippines.
                    </p>
                    <p class="about-text">As time passes, I gained my interest in building web applications using Java as my chosen programming language and Spring Boot as the framework for the back end development. I believe that it has several advantages such as its scalability and performance, security, and also for its enterprise-grade reliability.</p>

                    <div class="skills-container">

                        <!--        Skill Item 1: Java                -->
                        <div class="skill-item">
                            <div class="skill-icon"><i class="fab fa-java"></i></div>
                            <div class="skill-name">Java</div>
                        </div>

                        <!--        Skill Item 2: Spring Boot                -->
                        <div class="skill-item">
                            <div class="skill-icon"><i class="fa-solid fa-power-off"></i></div>
                            <div class="skill-name">Spring Boot</div>
                        </div>

                        <!--        Skill Item 3: Thymeleaf                -->
                        <div class="skill-item">
                            <div class="skill-icon"><i class="fa-solid fa-leaf"></i></div>
                            <div class="skill-name">Thymeleaf</div>
                        </div>

                        <!--        Skill Item 4: Lombok                -->
                        <div class="skill-item">
                            <div class="skill-icon"><i class="fa-solid fa-pepper-hot"></i></div>
                            <div class="skill-name">Lombok</div>
                        </div>

                        <!--        Skill Item 5: JavaScript               -->
                        <div class="skill-item">
                            <div class="skill-icon"><i class="fa-brands fa-js"></i></div>
                            <div class="skill-name">JavaScript</div>
                        </div>

                        <!--        Skill Item 6: React                -->
                        <div class="skill-item">
                            <div class="skill-icon"><i class="fa-brands fa-react"></i></div>
                            <div class="skill-name">React</div>
                        </div>


                        <!--        Skill Item 7: Nunjucks                -->
                        <div class="skill-item">
                            <div class="skill-icon"><i class="fa-solid fa-code"></i></div>
                            <div class="skill-name">Nunjucks</div>
                        </div>

                        <!--        Skill Item 8: Python                -->
                        <div class="skill-item">
                            <div class="skill-icon"><i class="fa-brands fa-python"></i></div>
                            <div class="skill-name">Python</div>
                        </div>

                        <!--        Skill Item 9: MySQL                -->
                        <div class="skill-item">
                            <div class="skill-icon"><i class="fa-solid fa-database"></i></div>
                            <div class="skill-name">MySQL</div>
                        </div>

                        <!--        Skill Item 10: MongoDB                -->
                        <div class="skill-item">
                            <div class="skill-icon"><i class="fa-solid fa-database"></i></div>
                            <div class="skill-name">MongoDB</div>
                        </div>



                        <!--        Skill Item 11: Git                -->
                        <div class="skill-item">
                            <div class="skill-icon"><i class="fa-brands fa-git-alt"></i></div>
                            <div class="skill-name">Git</div>
                        </div>

                        <!--        Skill Item 12: AWS                -->
                        <div class="skill-item">
                            <div class="skill-icon"><i class="fa-brands fa-aws"></i></div>
                            <div class="skill-name">AWS</div>
                        </div>
                    </div>
                </div>
                
                <div class="about-visual">
                    <div class="about-image-container">
                        <div class="about-image-bg"></div>
                        <img src="/images/dpba.jpg" alt="about" class="about-image">
                    </div>
                    <div class="about-decorations">
                        <div class="about-decoration"></div>
                        <div class="about-decoration"></div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </section>
</th:block>
</html>