<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="achievements">
    <section class="section achievements" id="achievements">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">Achievements</h2>
                <p class="section-subtitle">Recognitions and milestones</p>
            </div>

            <div class="achievements-container">

                <!--       Achievement Card 1         -->
                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-play"></i>
                    </div>
                    <h3 class="achievement-title">
                        Insert Achievement Title
                    </h3>
                    <p class="achievement-description">Insert Achievement Subscription</p>
                </div>

                <!--       Achievement Card 2       -->
                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-play"></i>
                    </div>
                    <h3 class="achievement-title">
                        Insert Achievement Title
                    </h3>
                    <p class="achievement-description">Insert Achievement Subscription</p>
                </div>

                <!--       Achievement Card 3         -->
                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-play"></i>
                    </div>
                    <h3 class="achievement-title">
                        Insert Achievement Title
                    </h3>
                    <p class="achievement-description">Insert Achievement Subscription</p>
                </div>

                <!--       Achievement Card 4         -->
                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-play"></i>
                    </div>
                    <h3 class="achievement-title">
                        Insert Achievement Title
                    </h3>
                    <p class="achievement-description">Insert Achievement Subscription</p>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>