<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="experience">
    <section class="section experience" id="experience">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">Experiences</h2>
                <p class="section-subtitle">My professional journey and personal background</p>
            </div>
            <div class="timeline">

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-people-roof"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">October 2024 - July 2025</div>
                        <h3 class="timeline-title">Client Success Manager</h3>
                        <h4 class="timeline-subtitle">Dashlabs.ai</h4>
                        <p class="timeline-description">Worked as the leader of Client Success Team in Dashlabs.ai<br>
                            <br>*Supervises the operations for Client Success as the platform continues to integrate
                            <br>*Provides direction and guidance to Client Success Analysts in addressing advanced technical concerns
                            <br>*Provides training to Support Interns on how to familiarize themselves in using the web portal
                            <br>*Conducts tests in various modules of the web portal prior releasing new updates made from the Dev Team</p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-headphones"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">March 2024 - October 2024</div>
                        <h3 class="timeline-title">Junior Support Engineer</h3>
                        <h4 class="timeline-subtitle">Dashlabs.ai</h4>
                        <p class="timeline-description">*Responds to clients of Dashlabs.ai using various email, chat and messaging platforms
                            <br>*Provides solutions and technical support to address the needs of the clients as they use the core platform
                            <br>*Provides first level troubleshooting
                            <br>*Creates / modifies downloadables that are needed by the clients such as certificates and sales reports using HTML, CSS, and Nunjucks
                            <br>*Escalates advanced concerns to the larger technical team, and collaborate with them to resolve the issues.
                            <br>*Reports updates to Client Success Team to ensure that all requests from clients have been addressed
                            <br>*Demonstrates effective communication skills while interacting with clients and internal team members</p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-brands fa-aws"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">July 2023 - October 2023</div>
                        <h3 class="timeline-title">re/Start Graduate</h3>
                        <h4 class="timeline-subtitle">Amazon Web Services (AWS)</h4>
                        <p class="timeline-description">
                            AWS re/Start is a cohort-based workforce development training program that prepares individuals for careers in the cloud and connects them to potential employers. The curriculum is adapted to meet learners where they are in their learning journey, desired objectives, and learning modalities. Through scenario-based exercises, instructor-led sessions, the following topics are covered in this curriculum: <br><br>

                            *Core AWS Cloud Concepts
                            *Linux<br>
                            *Python<br>
                            *Networking<br>
                            *Security<br>
                            *Databases<br>
                            *Automation<br><br>

                            *Passed the AWS Certified Cloud Practitioner Exam: <a href="https://www.credly.com/badges/b91844f9-b69c-4679-b5cc-0101f1143352/public_url"><u>LINK</u></a>
                        </p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-helmet-safety"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">September 2017 - April 2020</div>
                        <h3 class="timeline-title">Associate Process Engineer</h3>
                        <h4 class="timeline-subtitle">Amherst Laboratories Inc.</h4>
                        <p class="timeline-description">
                            Worked as a Unit Leader in Liquids Processing Department wherein the main task is to compound liquid pharmaceutical products on a large scale basis as finished bulk (Semi-Finished Goods).

                            <br><br>Duties and Responsibilities:

                            <br><br>*Ensures that the production outputs, quality of products, labor productivity, line efficiency, usage of available materials and safety of the product are on target production schedule, and met in full compliance with cGMP and other requirements maintained by the company.

                            <br>*Gives direction and provides leadership to Manufacturing Technicians and Production Aides, as well as monitoring their daily activities, including their data entries in all documents such as Batch Processing Record, to ensure that they are guided accordingly, following the existing Standard Operating Procedures (SOP) and other important policies made by the company.

                            <br>*Transacts documented batch operations using System Applications and Products (SAP) Interface.

                            <br>*Gives support to the Department Team Leader in facilitating operations of the entire department.

                            <br>*Maintains accuracy, completeness and integrity of all materials and documentation as per guidelines in Pharmaceutical Inspection Co-operation Scheme (PIC/s) standard.

                            <br>*Monitors the performance of equipment and in-process test results of semi-finished goods in a form of finished bulk.

                            <br>*Generates documentation/analysis of non-conformity/issues related to quality of the product with close coordination of other departments such as Quality Control, Quality Assurance, Technical Services and Engineering. Investigation tools such as Failure Mode and Effects Analysis (FMEA), Root Cause Analysis (RCA) and 8D Analysis are used to address deviations, followed by creation of Corrective/Preventive Action (CAPA) to prevent recurrence.

                            <br>*Conducts review of existing SOPs and makes necessary revisions for areas of improvement which ensures alignment with GxP and PIC/s.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div></div>
    </section>
</th:block>
</html>